<div class="m-0 border-0 bd-example">
<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">MEAN Stack App</a>
    <div class="d-flex">
      <button class="btn btn-outline-success btn-space" type="button" routerLinkActive="active" routerLink="/employees-list">View Employees</button>
      <button class="btn btn-outline-success btn-space" type="button" routerLinkActive="active" routerLink="/create-employee">Add Employee</button>
    </div>
  </div>
</nav>
</div>
<router-outlet></router-outlet>
